.datepicker-dropdown {
  z-index: 1;
}

.datepicker-cell {
    color: #212529;
    z-index: 1;
}

.iti {
  width: 100%;
  display: block;
}

.iti__arrow { border: none; }

.iti > .form-control {
        height: calc(3.5rem + 2px);
        line-height: 1.25;
        padding: 1rem 0.75rem;
}

.booking-section-heading {
    position: relative;
    top: -27px;
    background: #fff;
}