{% extends 'base.html' %}

{% block content %}
<main>
    <div class="row">
        <div class="col-4 fs-5">
            <h1>Create a listing</h1>
            <p>
                Start earning more with your properties by signing up for a free account, so you get
                notified when LibreProperty is ready for action. Your first property is free.
            </p>
        </div>
        <div class="col-8">
            {% for message in get_flashed_messages() %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            <form method="POST">
                {{ form.csrf_token }}
                {% for field in form %}
                <div class="mb-3 row">
                    {{ field.label(class='col-sm-3 col-form-label') }}
                    <div class="col-sm-9">
                    {{ field(class='form-control') }}
                    {% if field.errors %}
                    <ul class="errors">
                        {% for error in field.errors %}
                        <li>{{ error }}</li>{% endfor %}
                    </ul>
                    {% endif %}
                    </div>
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Create Listing</button>
            </form>

        </div>
    </div>
</main>
{% endblock %}