{% extends 'dashboard/base.html' %}

{% block content %}

<main>
    <div class="row">
        <div class="col-4 fs-5">
            <h2>Create a listing</h2>
            <p>
                A listing allows you to create a dedicated booking website for your
                property. You will also be able to sync it to other channels such as
                Airbnb, Vrbo and others.
            </p>
        </div>
        <div class="col-8">
            {% for message in get_flashed_messages() %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% include 'dashboard/listing_basic_form.html' %}
        </div>
    </div>
</main>
{% endblock %}