{% extends 'dashboard/base.html' %}

{% block content %}
<main>
    <div class="row">
        <div class="col-lg-8 col-12-sm">
            {% if listings|length == 0 %}
            <h1>Dashboard</h1>
            <p>You don't have any listings yet.</p>
            <a class="btn btn-primary" href="{{ url_for('dashboard_bp.create_listing') }}">Create your first listing</a>
            {% else %}
            <div class="listings border">
                <h2>Your listings</h2>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">City</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    {% for listing in listings %}
                    <tr>
                        <td>{{ listing.title }}</td>
                        <td>{{ listing.city }}</td>
                        <td>
                            <a class="ms-1 btn btn-primary btn-sm">Create Website</a>
                            <a class="ms-1 btn btn-primary btn-sm">Modify</a>
                            <a class="ms-1 btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}

        </div>
        <div class="col-4 d-none d-sm-block">
            <img height="200" src="{{ url_for('static', filename='vacation-beach-house.jpeg') }}"/>
        </div>
    </div>
</main>
{% endblock %}