{% extends 'dashboard/base.html' %}

{% block content %}
<main>
    <div class="row">
        <div class="col-lg-7 col-12-sm">
            {% for category, message in get_flashed_messages(with_categories=True) %}
            <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% if listings|length == 0 %}
            <h1>Dashboard</h1>
            <p>You don't have any listings yet.</p>
            <a class="btn btn-primary" href="{{ url_for('dashboard_bp.create_listing') }}">Create your first listing</a>
            {% else %}
            <div class="listings">
                <div class="title">
                    <h2 class="float-start">Your listings</h2>

                </div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">City</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    {% for listing in listings %}
                    <tr>
                        <td>
                            <a class="link-primary"
                               href="{{ url_for('dashboard_bp.update_listing', listing_id=listing.id) }}">
                                {{ listing.title }}
                            </a>
                        </td>
                        <td>{{ listing.city }}</td>
                        <td>
                            <a class="ms-1 btn btn-primary btn-sm"
                               href="{{ url_for('dashboard_bp.update_listing', listing_id=listing.id) }}">Manage</a>
                            <form method="POST"
                                  action="{{ url_for('dashboard_bp.delete_listing') }}"
                                  style="display: inline;">
                                <input type="hidden" name="id" value="{{ listing.id }}"/>
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <a class="btn btn-success float-start" href="{{ url_for('dashboard_bp.create_listing') }}">
                    Create another listing</a>
                <a class="btn btn-success float-start" href="{{ url_for('dashboard_bp.create_listing_from_airbnb') }}">
                    Import listing from Airbnb</a>
            </div>
            {% endif %}
        </div>
        <div class="col-5 d-none d-sm-block">

            <div class="card mb-4">
                <div class="card-header py-3">
                    <h5 class="mb-0">Recent bookings</h5>
                </div>
                <div class="card-body">
                    {% if current_user.bookings|length > 0 %}
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Created</th>
                            <th scope="col">Listing</th>
                            <th scope="col">Check-in</th>
                            <th scope="col">Checkout</th>
                            <th scope="col">Nights</th>
                        </tr>
                        </thead>
                        {% for booking in current_user.bookings %}
                        <tr>
                            <td>{{ booking.created_on }}</td>
                            <td>{{ booking.listing.title }}</td>
                            <td>{{ booking.checkin }}</td>
                            <td>{{ booking.checkout }}</td>
                            <td>{{ "${:,.2f}".format(booking.amount) }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% else %}
                    <p>There are no bookings yet in any of your listings, but don't give up hope. You might get one
                        soon.</p>
                    {% endif %}
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header py-3">
                    <h5 class="mb-0">Recent Messages</h5>
                </div>
                <div class="card-body">
                    {% if current_user.messages|length > 0 %}
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Created</th>
                            <th scope="col">Listing</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Comment</th>
                        </tr>
                        </thead>
                        {% for message in current_user.messages %}
                        <tr>
                            <td>{{ message.created_on }}</td>
                            <td>{{ message.listing.title }}</td>
                            <td>{{ message.first_name }}</td>
                            <td>{{ message.last_name }}</td>
                            <td>{{ message.comments|truncate(36) }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% else %}
                    <p>There are no messages yet in any of your listings yet.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}