{% extends 'base.html' %}

{% block content %}
<main>
    <div class="row">
        <div class="col-lg-8 col-12-sm fs-5">
            <h1>Dashboard</h1>
            {% if listings|length == 0 %}
            <p>You don't have any listings yet.</p>
            <a class="btn btn-primary" href="{{ url_for('dashboard_bp.create_listing') }}">Create your first listing</a>
            {% endif %}
            {% for listing in listings %}
            {{ listing.title }}
            {% endfor %}
        </div>
        <div class="col-4 d-none d-sm-block">
            <img height="200" src="{{ url_for('static', filename='vacation-beach-house.jpeg') }}"/>
        </div>
    </div>
</main>
{% endblock %}