<div class="col-lg-4 col-sm-12 fs-5">
    <h2>Updating listing: {{ listing.id }} - {{listing.title}}</h2>
    <p>

        A listing allows you to create a dedicated booking website for your
        property. You will also be able to sync it to other channels such as
        Airbnb, Vrbo and others.
    </p>
    {% if not listing.website %}
    <a href="{{ url_for('dashboard_bp.create_website', listing_id=listing.id) }}"
       class="btn btn-success">Create Website</a>
    {% else %}
    <a href="{{ url_for('dashboard_bp.update_website', listing_id=listing.id, website_id=listing.website.id) }}"
       class="btn btn-success">Manage Website</a>
    {% endif %}
    <form method="POST"
          action="{{ url_for('dashboard_bp.delete_listing') }}"
          style="display: inline;">
        <input type="hidden" name="id" value="{{ listing.id }}"/>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <button type="submit" class="btn btn-danger">Delete this listing</button>
    </form>
</div>