{% extends 'dashboard/base.html' %}

{% block content %}

<main>
    <div class="row">
        {% include 'dashboard/listing_sidebar.html' %}
        <div class="col-lg-8 col-12-sm">
            {% include 'dashboard/update_listing_actions.html' %}
            {% if listing.photos %}
            <hr/>
            <h2>Currently active photos</h2>
            <div class="container">
                <div class="row row-cols-lg-2 row-cols-md-2 g-4">
                    {% for photo in listing.photos %}
                    <div class="col">
                        <div class="card">
                            <img src="{{ photo.url }}" class="card-img-top img-fluid" />
                            <div class="card-body">
                                {% if photo.caption %}
                                <h5 class="card-title">{{photo.caption}}</h5>
                                {% endif %}
                                <form method="POST"
                                      action="{{ url_for('dashboard_bp.delete_listing_photo', listing_id=listing.id) }}">
                                    <input type="hidden" name="photo_id" value="{{ photo.id }}"/>
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <hr/>
                <h3>{{ title }}</h3>
                {% for category, message in get_flashed_messages(with_categories=True) %}
                <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% include 'dashboard/listing_basic_form.html' %}
            </div>
        </div>
</main>
{% endblock %}