{% extends 'dashboard/base.html' %}

{% block content %}

<main>
    <div class="row">
        {% include 'dashboard/listing_sidebar.html' %}
        <div class="col-lg-8 col-sm-12">
            {% include 'dashboard/update_listing_actions.html' %}
            <hr/>
            <h3>{{ title }}</h3>
            {% for category, message in get_flashed_messages(with_categories=True) %}
            <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% include 'dashboard/listing_basic_form.html' %}
        </div>
    </div>
</main>
{% endblock %}