{% extends 'dashboard/base.html' %}

{% block content %}

<main>
    <div class="row">
        <div class="col-4 fs-5">
            <h2>Updating listing: {{listing.title}}</h2>
            <p>

                A listing allows you to create a dedicated booking website for your
                property. You will also be able to sync it to other channels such as
                Airbnb, Vrbo and others.
            </p>
        </div>
        <div class="col-8">
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Update title, description and address</p>
                        <a href="{{ url_for('dashboard_bp.update_listing', listing_id=listing.id) }}"
                           type="submit" class="btn btn-success">Manage basic</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Set your base rate and special rates</p>
                        <a href="{{ url_for('dashboard_bp.update_listing_pricing', listing_id=listing.id) }}"
                           type="submit" class="btn btn-success">Manage pricing</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Set property details: # of guests and amenities</p>
                        <a href="{{ url_for('dashboard_bp.update_listing_property_details', listing_id=listing.id) }}"
                           type="submit" class="btn btn-success">Manage Details</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Upload photos of your property</p>
                        <a href="{{ url_for('dashboard_bp.update_listing_photos', listing_id=listing.id) }}"
                           type="submit" class="btn btn-success">Manage Photos</a>
                    </div>
                </div>
            </div>
            <hr/>
            <h3>{{ title }}</h3>
            {% for category, message in get_flashed_messages(with_categories=True) %}
            <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% include 'dashboard/listing_basic_form.html' %}
        </div>
    </div>
</main>
{% endblock %}