{% extends 'bookingsite/base.html' %}
{% block extra_head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/css/datepicker.min.css">
<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/js/datepicker-full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/js/intlTelInput.min.js"
        integrity="sha512-+gShyB8GWoOiXNwOlBaYXdLTiZt10Iy6xjACGadpqMs20aJOoh+PJt3bwUVA6Cefe7yF7vblX6QwyXZiVwTWGg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/css/intlTelInput.css"
      integrity="sha512-gxWow8Mo6q6pLa1XH/CcH8JyiSDEtiwJV78E+D+QP0EVasFs8wKXq16G8CLD4CJ2SnonHr4Lm/yY2fSI2+cbmw=="
      crossorigin="anonymous" referrerpolicy="no-referrer"/>
{% endblock %}
{% block content %}
<main>
    <div class="row">
        <div class="col-md-8 mb-4">
            <div class="card mb-4">
                <div class="card-header py-3">
                    <h5 class="mb-0">Booking details</h5>
                </div>
                <div class="card-body">
                    <form method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <div class="mt-4 p-3 mb-3 border border-2 rounded border-color-translucent">
                            <h4 class="booking-section-heading text-center col-4 offset-4">Dates</h4>
                            <div class="row">
                                <div id="datepicker" class="input-group">
                                    <div class="form-floating">
                                        <input id="checkin" type="text" name="checkin"
                                               class="form-control datepicker-input"
                                               autocomplete="off" {% if
                                               checkin -%} value="{{checkin}}" {%- endif %}>
                                        <label for="checkin">Check-in</label>
                                    </div>
                                    <span class="input-group-text">to</span>
                                    <div class="form-floating">
                                        <input id="checkout" type="text" name="checkout"
                                               class="form-control datepicker-input"
                                               autocomplete="off" {% if
                                               checkout -%} value="{{ checkout }}" {%- endif %}>
                                        <label for="checkout">Check-out</label>
                                    </div>
                                    <div class="form-floating">
                                        <select id="guests" name="guests" class="form-select"
                                                aria-label="Number of guests">
                                            {% for i in range(1, site.listing.accommodates + 1) %}
                                            <option {% if guests== i %}selected{% endif %} value="{{ i }}">{{ i }} {% if
                                                loop.first
                                                %}guest{% else %}guests{% endif %}
                                            </option>
                                            {% endfor %}
                                        </select>
                                        <label for="guests">Number of guests</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="mt-5 p-3 mb-3 border border-2 rounded border-color-translucent">
                            <h4 class="booking-section-heading text-center col-4 offset-4">Guest Info</h4>
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating">
                                        <input type="text" name="first_name" class="form-control" id="first_name"
                                               placeholder="First Name">
                                        <label for="first_name">First Name</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="last_name" placeholder="Last Name">
                                        <label for="last_name">Last Name</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" id="email"
                                               placeholder="name@example.com">
                                        <label for="email">Email</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <input type="tel" class="form-control" id="phone" placeholder="Phone number">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <div class="form-floating">
                                        <textarea class="form-control" id="comments" style="height: 100px;"></textarea>
                                        <label for="comments">Comments</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary float-end mt-2" type="submit">Request to book</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card mb-4">
                <div class="card-header py-3">
                    <h5 class="mb-0">Summary</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                            Number of nights
                            <span id="nights">0</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                            {% if site.listing.weekend_price %}Weekdays{% else %}Nightly{% endif %}
                            <span id="nightly_cost">0 x ${{ site.listing.base_price }} = $0</span>
                        </li>
                        {% if site.listing.weekend_price %}
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                            Weekends
                            <span id="weekend_cost">0 x ${{ site.listing.weekend_price }} = $0</span>
                        </li>
                        {% endif %}
                        {% if site.listing.cleaning_fee %}
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                            Cleaning Fee
                            <span id="cleaning_fee">${{ site.listing.cleaning_fee }}</span>
                        </li>
                        {% endif %}
                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                            <div>
                                <strong>Total amount</strong>

                            </div>
                            <span class="fw-bold" id="total_cost">$0</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
const elem = document.getElementById('datepicker');
const rangepicker = new DateRangePicker(elem, {
    minDate: new Date(),
    maxDate: new Date(new Date().setFullYear(new Date().getFullYear() + 1)),
});

let state = {
    checkin: new Date(),
    checkout: new Date(),
    base_price: {{ site.listing.base_price }},
    {% if site.listing.weekend_price %}
    weekend_price: {{ site.listing.weekend_price }},
    {% endif %}
    cleaning_fee: {{ site.listing.cleaning_fee or 0 }},
    nights: 0,
    weekend_days: 0,
    total_cost: 0
}

const checkin = document.getElementById('checkin');
const checkout = document.getElementById('checkout');
const nights = document.getElementById("nights");
const nightly_cost = document.getElementById("nightly_cost");
const weekend_cost = document.getElementById("weekend_cost");
const total_cost = document.getElementById("total_cost");

function weekendDays(date1, date2) {
    let i = 0;
    var d1 = new Date(date1),
        d2 = new Date(date2),
        isWeekend = false;

    while (d1 < d2) {
        var day = d1.getDay();
        isWeekend = (day === 5) || (day === 6);
        if (isWeekend) { i += 1 }
        d1.setDate(d1.getDate() + 1);
    }
    return i;
}

function updateState() {
    state.nights = (state.checkout.getTime() - state.checkin.getTime()) / (1000 * 3600 * 24);
    if ('weekend_price' in state) {
        state.weekend_days = weekendDays(state.checkin, state.checkout);
        state.weekend_cost = (state.weekend_days) * state.weekend_price;
    }
    state.nightly_cost = (state.nights - state.weekend_days) * state.base_price;
    state.total_cost = state.nightly_cost + state.weekend_cost + state.cleaning_fee;
    renderSummary();
}

function changeDateHandler (e) {
    const dates  = rangepicker.getDates();
    state.checkin = dates[0] || new Date();
    state.checkout = dates[1] || new Date();
    updateState();
}

function renderSummary() {
    nights.innerHTML = state.nights;
    nightly_cost.innerHTML = `${state.nights - state.weekend_days} x $${state.base_price} = $${state.nightly_cost}`;
    if ('weekend_price' in state) {
        weekend_cost.innerHTML = `${state.weekend_days} x $${state.weekend_price} = $${state.weekend_cost}`;
    }
    total_cost.innerHTML = `$${state.total_cost}`
}

updateState();

checkin.addEventListener('changeDate', changeDateHandler);
checkout.addEventListener('changeDate', changeDateHandler);

const phoneInputField = document.querySelector("#phone");
const phoneInput = window.intlTelInput(phoneInputField, {
  utilsScript:
    "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/js/utils.js",
});

</script>
{% endblock %}