{% extends 'base.html' %}

{% block content %}
<main>
    <div class="row">
        <div class="col-8 fs-5">
            <h1>Vacation/Short-Term Rental Management</h1>
            <p>
                Tired of managing all your listings across Airbnb, Vrbo and Booking.com?</br>
                Manage your short-term rental properties with ease and increase your revenue.
            </p>
        </div>
        <div class="col-4">
            <img height="200" src="{{ url_for('static', filename='vacation-beach-house.jpeg') }}" />
        </div>
    </div>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <h2>Channel Management</h2>
            <p>
                Manage all your listings across Airbnb, Vrbo and others through LibreOffice. Increase
                your occupancy by reaching more channels and keep your listings up to date across
                all channels.
            </p>
        </div>
        <div class="feature col">
            <h2>One calendar to rule all</h2>
            <p>
                Prevent double bookings and adjust prices across all channels by having a single calendar.
                No more grumpy guests with cancelled bookings.
            </p>
        </div>
        <div class="feature col">
            <h2>Smart Lock Integration</h2>
            <p>
                Provide a superior secure guest experience with our fully automated Smart Lock solution for
                seamless check-ins.
                Automatically send a unique keycode for each booking and revoke after booking ended.
            </p>
        </div>
    </div>

    <div class="d-flex mb-5 justify-content-center">
        <h3 class="px-4">Want to know when we launch?</h3>
        <a href="https://github.com/LibreProperty/LibreProperty" class="btn btn-primary btn-lg mx-3 px-4"
           rel="nofollow external" target="_blank">
            <i class="bi bi-github pe-3"></i> Follow the GitHub repo
        </a>
    </div>

</main>
{% endblock %}